@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(
      to bottom,
      rgba(242, 211, 188, 1),
      rgba(191, 191, 216, 1)
    ),
    url('./images/gradient-bg.svg');
  background-blend-mode: multiply;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  @apply text-primary;
}

.wrapper {
  @apply w-full;
}

.nav {
  @apply flex w-full justify-between fixed px-4 md:px-8 py-8 md:py-12 z-10 mix-blend-luminosity;
  background: linear-gradient(
    rgba(242, 211, 188, 0.95),
    rgba(242, 211, 188, 0.65),
    rgba(242, 211, 188, 0)
  );
}

.main-container {
  @apply w-full h-screen overflow-y-auto overscroll-y-contain snap-y snap-mandatory;
}

.section {
  @apply flex flex-col justify-center relative w-full min-h-screen snap-center px-4 md:px-8 pt-40 md:pt-48 pb-6 md:pb-10;
}

.nav-item {
  @apply uppercase text-primary-light transition-all text-lg md:text-xl hover:text-xl cursor-pointer;
}

.nav-item-active {
  @apply italic text-xl md:text-2xl text-primary font-semibold pointer-events-none cursor-default;
}

h2 {
  @apply text-3xl md:text-4xl my-3 md:my-5 font-semibold text-primary;
}

#about p {
  @apply text-primary-light text-lg;
}

.default-card {
  @apply h-full rounded-md bg-white backdrop-blur-xl bg-opacity-50 shadow-xl text-primary w-full;
}

.default-card h3 {
  @apply font-bold text-lg md:text-xl;
}

.default-card ul {
  @apply ml-6;
}

.default-card ul li {
  @apply list-disc text-sm md:text-base;
}

.mini-card {
  @apply flex gap-3 px-3.5 py-3 items-center justify-start transition-all mix-blend-luminosity hover:mix-blend-normal hover:scale-105;
}

.mini-card-responsive {
  @apply flex-col sm:flex-row p-1.5 sm:px-3.5 sm:py-3 gap-1 sm:gap-3 justify-center sm:justify-start text-center sm:text-left;
}

.mini-card img {
  @apply rounded-md w-8 md:w-9;
}

.swiper-wrapper {
  padding: 20px 0;
}

.swiper-slide {
  height: auto !important;
}

.arrow-button {
  @apply p-1 bg-white rounded-full m-0 justify-center align-middle shadow bg-opacity-50 backdrop-blur-lg;
}
